$red: #e7004d;
$grey: #cccccc;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: $grey;
  padding: 1rem;
}

a {
  color: $red;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: normal;
}
