.filter {
  margin-bottom: 1rem;
  ul {
    display: inline-block;
  }
  li {
    font-size: 1.4rem;
    font-family: "Helvetica", Helvetica, sans-serif;
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    padding: 0 6px;
    margin: 0 4px;
  }
  a:visited {
    color: black;
  }
  a:hover {
    color: green !important;
    background: white !important;
    border: 2px solid green;
  }
  .active {
    background: hotpink;
    border: 2px solid green !important;
    color: green !important;
  }
}
