.indexPage {
  transition: all 0.2s ease;
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
}

// .indexWrapper {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   flex-wrap: wrap;
//   a:hover {
//     color: black;
//   }
// }

.item {
  position: relative;
  transition: all 0.25s ease;
  img,
  video {
    display: block;
  }
}

.itemInfo {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 0.25s ease;
  span {
    background: yellow;
    padding: 0.1rem 0.2rem;
  }
  .itemTitle {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  &:hover {
    opacity: 1;
  }
}
