nav {
  margin-bottom: 1rem;
  ul {
    display: flex;
    border-bottom: 4px solid black;
  }
  li {
    padding-right: 10px;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .active {
    color: fuchsia;
    text-decoration: underline;
    font-weight: bold;
  }
}
