$grey: #e2e2e2;
nav {
  color: $grey;
  margin: 1rem 2rem;
  ul {
    display: flex;
  }
  li {
    margin-right: 1rem;
    list-style: none;
  }
  a {
    color: $grey;
    text-decoration: none;
    transform-origin: center center;
  }
  a:visited {
    color: $grey;
  }
  .active {
    color: white !important;
    border-bottom: none;
    text-decoration: underline;
  }
}
h1 {
  display: inline-block;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.75);
}
.descriptor {
  padding: 2.5rem 1rem 0 0;
  float: right;
  font-family: Helvetica, sans-serif;
}
